@model List<Author>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    ViewData["Title"] = "Yazarlar";
}

<h2>Yazarlar</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Doğum Tarihi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Id</td>
                <td>@author.FirstName</td>
                <td>@author.LastName</td>
                <td>@author.DateOfBirth.ToShortDateString()</td>
                <td>
                    <a asp-controller="Author" asp-action="UpdateAuthor" asp-route-id="@author.Id" class="btn btn-success">Güncelle</a>
                    <form asp-controller="Author" asp-action="DeleteAuthor" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@author.Id" />
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


