@model List<Book>

@{
    int count = 0;
}

<section id="books" class="two">
    <div class="container">

        <header>
            <h2>Kitaplar</h2>
            <link rel="stylesheet" href="~/css/bookHomeStyles.css" />
        </header>

        <div class="bootstrap-scope">
            <table class="table table-bordered table-hover mt-3 w-100">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Yazar Id</th>
                        <th scope="col">Kitap Adı</th>
                        <th scope="col">Kitap Türü</th>
                        <th scope="col">Yayın Tarihi</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Stok</th>
                        <th scope="col">Sil</th>
                        <th scope="col">Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.AuthorId</td>
                            <td>@item.Title</td>
                            <td>@item.Genre</td>
                            <td>@item.PublishDate.ToShortDateString()</td>
                            <td>@item.ISBN</td>
                            <td>@item.CopiesAvailable</td>
                            <td>
                                <a asp-controller="Book" asp-action="DeleteBook" asp-route-id="@item.Id"
                                   class="btn btn-danger"
                                   onclick="return confirm('Bu kitabı silmek istediğinizden emin misiniz?');">
                                    Sil
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Book" asp-action="UpdateBook" asp-route-id="@item.Id" class="btn btn-success">Güncelle</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-controller="Book" asp-action="CreateBook" class="btn btn-success">Kitap Ekle</a>
        </div>
    </div>
</section>